<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body style="background-color:Beige;">

<form action="/vacancy/{{id_vacancy}}/events/{{id_events}}/" method="GET" >
<fieldset>
    <legend><h3>One event:</h3></legend>
            <div>
                {{event}}
            </div>
</fieldset>
</form>

<br><br>

<form action="/vacancy/{{id_vacancy}}/events/{{id_events}}/" method="POST" >
<fieldset>
     <legend><h3>Form for update event:</h3></legend>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" placeholder="Description" value="{{event[0][2]}}"><br><br>

    <label for="event_date">Event date:</label><br>
    <input type="date" id="event_date" name="event_date" placeholder="Event date" value="{{event[0][3]}}"><br><br>

    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" placeholder="Title" value="{{event[0][4]}}"><br><br>

    <label for="deadline_date">Deadline date:</label><br>
    <input type="date" id="deadline_date" name="deadline_date" placeholder="Deadline date" value="{{event[0][5]}}"><br><br>

    <input type="submit" value="Update event">
</fieldset>
</form>

</body>
</html>
