<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New vacancy</title>
</head>
<body style="background-color:Beige; text-align:center;">

<form action="/vacancy/" method="POST" >
    <h2 style="text-align:center;">Form for adding a vacancy</h2>

    <label for="company">Company name:</label><br>
    <input type="text" id="company" name="company" placeholder="Company"><br><br>

    <label for="position_name">Position name:</label><br>
    <input type="text" id="position_name" name="position_name" placeholder="Position"><br><br>

    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" placeholder="Description"><br><br>

    <label for="contacts_ids">Contacts:</label><br>
    <input type="text" id="contacts_ids" name="contacts_ids" placeholder="Contacts"><br><br>

    <label for="comment">Comment:</label><br>
    <input type="text" id="comment" name="comment" placeholder="Comment"><br><br>

    <input type="submit" value="Add vacancy">
</form>

</body>
</html>

